/**
 * Grid Component Style for uxcore
 * @author zhouquan.yezq
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
.kuma-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100;
  left: 0px;
  top: 0px;
  opacity: .2;
  display: block;
}
.kuma-mask-hide {
  display: none;
}
.kuma-mask-centerblk {
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.kuma-mask-centerblk:after {
  content: '';
  height: 50%;
  display: inline-block;
}
.kuma-grid-actionbar {
  width: 100%;
  height: 40px;
  border: 1px solid #efefef;
  padding: 6px 0px;
}
.kuma-grid-actionbar .kuma-button {
  margin-right: 6px;
}
.g-fr {
  float: right;
}
a.kuma-button-swhite {
  line-height: 20px;
  height: 22px;
}
.kuma-grid-searchbar {
  float: right;
  position: relative;
}
.kuma-grid-searchbar .kuma-icon-search {
  position: absolute;
  right: 6px;
  top: 4px;
  cursor: pointer;
}
.kuma-grid {
  display: table;
  border: 0px solid #ebebeb;
  border-collapse: collapse;
  position: relative;
}
.kuma-grid-header {
  position: relative;
  background-color: #f2f2f2;
}
.kuma-grid-body {
  border: 1px solid #ebebeb;
  position: relative;
}
.kuma-grid-row {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #efefef;
  line-height: 34px;
}
.kuma-grid-row:hover {
  background-color: #fbfbfb;
}
.kuma-grid-cell {
  display: table-cell;
  text-align: center;
  height: 100%;
  padding: 0px;
  vertical-align: middle;
  position: relative;
  word-break: break-all;
}
.kuma-grid-cell > span {
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.kuma-grid-cell .kuma-input {
  height: 100%;
  min-height: 30px;
  padding: 0px 10px;
}
.kuma-grid-cell .kuma-column-picker {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0px;
}
.kuma-grid-colmnpicker {
  position: absolute;
  background-color: #f2f2f2;
  z-index: 2;
  right: 0px;
  top: 32px;
  padding: 0px;
  display: none;
}
.kuma-grid-colmnpicker > li {
  padding: 4px 20px;
  cursor: pointer;
  text-align: left;
  line-height: 21px;
}
.kuma-column-picker-container {
  position: absolute;
  right: 12px;
  top: 0px;
  cursor: pointer;
}
.kuma-grid-tree-icon {
  margin-right: 8px;
  cursor: pointer;
}
.kuma-grid-pagination {
  text-align: right;
  padding: 10px 0px;
}
.kuma-grid .kuma-pagination {
  display: inline-block;
}
.kuma-grid-h-sort {
  position: relative;
}
.kuma-grid-h-sort i {
  cursor: pointer;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  position: absolute;
}
i.sort-up {
  border-color: #f2f2f2 #f2f2f2 #aab2be;
  bottom: 6px;
  left: 2px;
}
i.sort-up-active {
  border-color: #f2f2f2 #f2f2f2 #f50;
  bottom: 6px;
  left: 2px;
}
i.sort-down {
  border-color: #aab2be #f2f2f2 #f2f2f2;
  bottom: -9px;
  left: 2px;
}
i.sort-down-active {
  border-color: #f50 #f2f2f2 #f2f2f2;
  bottom: -9px;
  left: 2px;
}
.action-container .action {
  cursor: pointer;
  margin: 0px 4px;
  display: inline-block;
}

/*# sourceMappingURL=Grid.css.map */